---
import BaseLayout from '../layouts/BaseLayout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import WhyMe from '../components/WhyMe.astro';
import Listings from '../components/Listings.astro';
import Contact from '../components/Contact.astro';
---

<BaseLayout>
  <Nav />
  <main>
    <Hero />
    <About />
    <WhyMe />
    <Listings />
    <Contact />
  </main>
</BaseLayout>
